<html ng-app>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script type="text/javascript"
                  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    </head>
    <body>
    <div>
        <div ng-controller="TodoController">
            <table class="table">
                <tr ng-repeat="task in tasks">
                    <td>{{task.name}}</td>
                    <td>Active</td>
                </tr>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="task">Task</label>
                    <input type="text" ng-model="task" class="form-control" id="task" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addTask()">Submit</button>
            </form>
        </div>
    </div>
    </body>
    <script>
        function TodoController($scope, $http) {

            function refresh(){
                $http.get('/collections/task').success(function(data) {
                    $scope.tasks = data;
                });
            }
            refresh();

            $scope.addTask = function() {
                $http.post('/collections/task', {name : $scope.task}).success(function() {
                    refresh();
                });
            }
        }
    </script>
</html>